body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link.text-uppercase{
    font-weight: 600;
    color: black;
}

.nav-link.text-uppercase:hover{
    color:  #4A4545;
}

.custom-link i{
    font-size: 10px;
    margin-right: 8px;
}

.custom-link {
    font-size: 10px;
    text-decoration: none;
    color: black;
}

.custom-link span {
    font-size: 10px;
}

.custom-link:hover {
    color:  #4A4545;
}

.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.row h1{
    font-weight: 700;
}

.custom-carousel-bg {
    background-color: #F1F1F3;
}

.custom-carousel{
    color:  #4A4545;
}

.carousel-indicators button {
    background-color:  #4A4545;
    border-color:  #4A4545;     
}

.carousel-indicators .active {
    background-color:  #4A4545; 
}

.custom-btn {
    background-color:  #4A4545;
    border-color:  #4A4545; 
    color: white;
}

.card {
    position: relative;
    overflow: hidden;
}

.card-body {
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-body {
    transform: translateY(-10px);
}

.custom-img{
    mix-blend-mode: multiply;
    max-width: 250px;
}

.custom-bg{
    background-color: #F2F2F2;
}

.custom-footer{
    background-color: #4A4545;
}

.list-group-item.active {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: white;
}

.form-label {
    font-weight: 500;
}

input.form-control:disabled {
    background-color: #f9f9f9;
}

.btn-outline-danger {
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
}


  
